<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="launcher" version="1.0">
  <name>HTML5 Launcher</name>
  <icon src="icon.svg"/>
  <content src="index.html" type="text/html"/>
  <description>Launcher application for AGL based on html5 technologies</description>
  <author>Igalia, S.L.</author>
  <license>APL 2.0</license>
  <feature name="urn:AGL:widget:required-api">
    <param name="agl_appservice" value="injection" />
  </feature>
</widget>
